.food-item-card{
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 10px;
    border:1px solid #ccc;
    width:330px;
    border-radius: 5px;
    background-color:#FFFFE8;
    color: #820000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 10px #808080;
    box-shadow: 2px 2px 2px 2px #a17474;
}

.food-item-card-header-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 0px;
    margin-left: 6px;
    margin-bottom: 10px;
    display: block;
    border-radius: 4px;
    
}

.btn-add-to-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    color: white;
    background-color: #820000;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    border-radius: 30px;
    border: 1px solid hsl(347, 97%, 66%);
    box-shadow: 1px 1px 1px 1px #a17474;
}

.btn-add-to-list:hover{
    background-position: 100% 0;
    color: #820000;
    background-color: #fda0a0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.quantity-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.qnt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #820000;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

.qnt-text{
    font-size: 40px;
}