.search-container{
    display: flex;
    justify-content: center;
}

.input-search{
    font-size: 25px;
    box-shadow: 1px 1px 1px 1px #a17474;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    margin: 25px;
    border-radius: 8px;  
    color: #820000; 
}

.logOut-btn{
    margin-left: 45%;
    margin-bottom: 6px;
    color: white;
    background-color: #820000;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    border-radius: 30px;
    border: 1px solid #fc5377;
    box-shadow: 1px 1px 1px 1px #a17474;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
}

.logOut-btn:hover{
    background-position: 100% 0;
    color: #820000;
    background-color: #fda0a0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
