.my-list{
    background-color: #FAECD6;
    display: block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar{
    background-image: linear-gradient(180deg,  #820000 80%, #4e6c50 90%);
    
}